appdirs==1.4.3
arrow==0.15.5
attrs==19.3.0
black==19.10b0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
idna==2.9
pathspec==0.7.0
praw==6.5.1
prawcore==1.0.1
python-dateutil==2.8.1
regex==2020.4.4
requests==2.23.0
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
update-checker==0.16
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.8
websocket-client==0.57.0
